 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Group Info</a>
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="/">Sign out</a>
          </li>
        </ul>
      </nav>
    
      <div class="container-fluid">
          {{#each groups}}
          <div class="row mb-2 wrap">
            <div class="col-md-12">
              <a href="/{{this._id}}" >
                <div class="card-body">
                  <div class="row">
                    <div class="col-xs-1 col-sm-2 col-md-1 mr-3 cardlocater">
                      <br>
                    </div>
                    <div class="col-xs-16 col-sm-16 col-md-16 cardlocater">
                      <h1 class="article-title">{{this.name}}</h1>
                      <p class='article-description'>This is a group for {{this.name}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          {{/each}}
      </div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>